<li class="list-group-item">

  <!-- div qui s'affiche que si "statut" == "éteinte" -->
  <div style="width: 20px; height: 20px; background-color: red;" *ngIf="status === 'éteinte'"></div>


  <!-- récupère le nom ainsi que le statut de l'objet -->
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
  <a [routerLink]="[id]">Détails</a>

  <!-- input avec comme text le nom -->
<!--
  <input text="text" class="form-control" [(ngModel)]="appareilName">
-->

  <button class="btn btn-sm btn-success"
          *ngIf="status === 'éteint'"
          (click)="onSwitch()">Allumer</button>

  <button class="btn btn-sm btn-danger"
          *ngIf="status === 'allumé'"
          (click)="onSwitch()">Eteindre</button>

</li>
