<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 style="text-align: center; margin: 20px auto 20px auto">Posts List</h2>
      <ul class="list-group" style="list-style: none">

        <!-- List every posts and show them -->
        <app-post-item  *ngFor="let post of postsList"
                        [postTitle]="post.title" [postLikes]="post.likesAmount"
                        [postCreatedAt]="post.created_at" [postContent]="post.content"></app-post-item>
      </ul>
    </div>
  </div>
</div>

